<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cook.component.scss">
</head>
  <body>

  <!-- ----------------- HEADER ----------------- -->
  <div class="header">
    <div class="title-container" >
      <h1 class="title">Terra & Mar Bistro</h1>
      <button class="logout" (click)="logout()" >Log Out</button>
    </div>
      <h3 class="role">Cook</h3>
  </div>
  
  <!-- ----------------- 3 MAIN BOXES ----------------- -->
  <div class="content">
    <div class="orders" *ngIf="orderFoodVisible">
      <div class="card">
        <!-- ----------------- RECEIVED ORDER ----------------- -->
        <div class="received">
          <h3>Received Order</h3>
          <div class="listOrders">
            <div *ngFor="let item of dishesQueue" class="selected-food-item">
              <span class="item-name">Order Number: {{ item.orderId }} | Table Number: {{ item.tableNumber }}  | Waiter Name: {{ item.waiterName }}</span>
              <div *ngIf="item.dishes && item.dishes.length > 0">
                <div *ngFor="let dish of item.dishes">
                  <span class="dish-name">{{ dish.name }}</span>
                  <!-- Add other properties of the dish here -->
                </div>
              </div>
            </div>
              <button class="btn btn-sm btn-success" (click)="startPreparation()">Start Preparation</button>
          </div>
        </div>
        <!-- ----------------- PREPARATION ORDER ----------------- -->
        <div class="preparation">
          <h3>In Preparation</h3>
          <div class="listOrders">
            <div *ngFor="let item of preparationQueue" class="selected-preparation-item">
              <span class="item-name">Order Number: {{ item.orderId }} | Table Number: {{ item.tableNumber }} | Waiter Name: {{ item.waiterName }}</span>
              <div *ngIf="item.dishes && item.dishes.length > 0">
                <div *ngFor="let dish of item.dishes">
                  <span class="dish-name">{{ dish.name }}</span>
                  <!-- Add other properties of the dish here -->
                </div>
              </div>
            </div>
            <button class="btn btn-sm btn-success" (click)="ready()">Ready Preparation</button>  
          </div>
        </div>
        <!-- ----------------- DONE ORDER ----------------- -->
        <div class="done">
          <h3>Orders Ready</h3>
          <div class="listOrders">
            <div *ngFor="let item of readyQueue" class="selected-ready-item">
              <span class="item-name">Order Number: {{ item.orderId }} | Table Number: {{ item.tableNumber }} | Waiter Name: {{ item.waiterName }}</span>
              <div *ngIf="item.dishes && item.dishes.length > 0">
                <div *ngFor="let dish of item.dishes">
                  <span class="dish-name">{{ dish.name }}</span>
                  <!-- Add other properties of the dish here -->
                </div>
              </div>
            </div>
            <button class="btn btn-sm btn-success" (click)="removeOrder()">Remove</button>
          </div>
        </div>

      </div> 
    </div> 
  </div> 

  
  </body>
</html>